:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
}

.game-container,
.square {
  box-sizing: border-box;
  border: 2px solid black;
  cursor: pointer;
}

.game-container {
  display: grid;
  grid-template: repeat(3, 250px) / repeat(3, 250px);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.result-msg {
  font-size: 3rem;
}

/*Form*/

form {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.form__input-container {
  display: flex;
  align-items: center;
}

input,
label {
  font-size: 1.25rem;
}

.start-btn {
  cursor: pointer;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  border: none;
  color: white;
  background-color: rgb(60, 57, 184);
  font-size: 1.25rem;
  padding: 5px 20px;
}
