body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container,
.square {
  box-sizing: border-box;
  border: 2px solid black;
  cursor: pointer;
}

.game-container {
  display: grid;
  grid-template: repeat(3, 250px) / repeat(3, 250px);
}
